* {
    margin-top: 0px;
    font-family: "Open Sans";
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 320px;
}


article {
    margin: 10px 10px 10px 10px;
    border: 2pt solid lightgrey;
    border-radius: 10px;
    padding: 15pt;
    box-shadow: lightgrey 1px 1px 3px;
    display: grid;
}

article div {
    display: flex;
    justify-content: space-between;   
}

.card-title {
    margin-bottom: 0px;
}

.card-subtitle {
    color: grey;   
}
div.card-buttons {
    justify-content: center;
    border-top: solid 1px lightgrey;
    margin: 0px;

}


button {
    background-color: white;
    border: solid 1.5pt;
    width: 140px;
    padding: 10px;
    align-self: center;
}
.green-button {
   
    color: limegreen;
    border-color: limegreen;
    border-radius: 5px 0px 0px 5px;
    border-right: none;
    
}

.red-button {
    
    color: red;
    border-color: red;
    border-radius: 0px 5px 5px 0px;
    
}